<connectionStrings>
  <add name="Survey" connectionString="Data Source=.; Initial Catalog=Survey; Integrated Security=true" providerName="System.Data.SqlClient"/>
  <add name="DefaultConnection" connectionString="Data Source=.; Initial Catalog=Survey; Integrated Security=true" providerName="System.Data.SqlClient"/>
  <add name="Hangfire" connectionString="Data Source=.; Initial Catalog=Hangfire; Integrated Security=true" providerName="System.Data.SqlClient"/>
  <add name="Master" connectionString="Data Source=.; Initial Catalog=master; Integrated Security=true" providerName="System.Data.SqlClient"/>
  <!--For Kim-->
  <!--<add name="Survey" connectionString="Data Source=.\SQLEXPRESS; Initial Catalog=Survey; Integrated Security=true" providerName="System.Data.SqlClient"/>
  <add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS; Initial Catalog=Survey; Integrated Security=true" providerName="System.Data.SqlClient"/>
  <add name="Hangfire" connectionString="Data Source=.\SQLEXPRESS; Initial Catalog=Hangfire; Integrated Security=true" providerName="System.Data.SqlClient"/>
  <add name="Master" connectionString="Data Source=.\SQLEXPRESS; Initial Catalog=master; Integrated Security=true" providerName="System.Data.SqlClient"/>

  <add name="Survey" connectionString="Data Source=localhost; Initial Catalog=Survey; Integrated Security=true" providerName="System.Data.SqlClient"/>
  <add name="DefaultConnection" connectionString="Data Source=localhost; Initial Catalog=Survey; Integrated Security=true" providerName="System.Data.SqlClient"/>
  <add name="Hangfire" connectionString="Data Source=localhost; Initial Catalog=Hangfire; Integrated Security=true" providerName="System.Data.SqlClient"/>
  <add name="Master" connectionString="Data Source=localhost; Initial Catalog=master; Integrated Security=true" providerName="System.Data.SqlClient"/>-->
 
  <!--For Jesse
  <add name="Survey" connectionString="Data Source=LAPTOP-SHEILA\SQLEXPRESS; Initial Catalog=Survey; Integrated Security=true" providerName="System.Data.SqlClient"/>
  <add name="Hangfire" connectionString="Data Source=LAPTOP-SHEILA\SQLEXPRESS; Initial Catalog=Hangfire; Integrated Security=true" providerName="System.Data.SqlClient"/>
  <add name="DefaultConnection" connectionString="Data Source=LAPTOP-SHEILA\SQLEXPRESS; Initial Catalog=Survey; Integrated Security=true" providerName="System.Data.SqlClient"/>
  <add name="Master" connectionString="Data Source=LAPTOP-SHEILA\SQLEXPRESS; Initial Catalog=master; Integrated Security=true" providerName="System.Data.SqlClient"/>-->
</connectionStrings>